
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.navbar-left {
    flex: 1;
    text-wrap: wrap;
    text-decoration: none;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    padding-left: 10rem;
    opacity: 1;
}

.navbar-right {
    display: flex;
    gap: 10rem;
    margin-right: 5rem;
}

.navbar-right a {
    text-decoration: none;
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    opacity: 1;
}

.navbar-button button {
    background-color: #C1F7D5;
    border: none;
    border-radius:3rem;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 2rem;
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.background-image {
    background-image: url('./images/annie-spratt-135307-unsplash.png');
    background-size: cover;
    width: 100%;
    height: 672px;
    text-align: left;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.bg-box{
    margin-top: 15rem;
    background-color: #ffff;
    height: 400px;
    width: 400px;
    padding: 3rem;
}
.bg-box p{
    font: normal normal bold 2rem Helvetica;
    color: #354463;
    line-height: 1;
    font: normal normal bold 44px/56px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.bg-box a{
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    opacity: 1;
}

.bg-text{
    font-size: 4rem;
    font-weight: 600;
    color: #ffff;
}

.w-50{
    margin: 0 auto;
    max-width: 60%;
    height: 400px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2{
    font: normal normal bold 2rem Helvetica;
    color: #354463;
    margin-right: 10px;
    letter-spacing: 0px;
    opacity: 1;
}

p{
    font: normal normal normal 1rem Helvetica;
    color: #354463;
    margin-right: 10px;
    text-wrap: wrap;
}

.bg-clr{
    background: #C1F7D5 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 3rem;
}

.cards_main{
    background: #354463 0% 0% no-repeat padding-box;
    padding: 4rem;
    height: 800px;
}

.box-1{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 10rem;
    height: 2rem;
    justify-content: center;
}
.box-1 >h3{
    text-align: center;
    color: #354463;
}

.cards_main h3 {
    text-align: left !important;
}

.card-container{
    align-items: center;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding-right:50px;
    margin-bottom: 40px;
    height: auto;
}
    

.card{
    background-color: #ffff;
    font: normal normal bold 2rem Helvetica;
    color: #354463;
    margin-left: 7rem;
    margin-right: 7rem;
    display: flex;
    border: 2px solid;
    flex-direction: column;
    text-align: start;
    width: 19rem;

}
.card h3{
    padding-left: 1rem;
    text-align: left;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.card p{
    padding: 1rem;
    line-break: loose;
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    opacity: 1;
}

.text-3{
    text-align: left;
    font: normal normal bold 44px/56px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 2rem;
}

.btn{
    background: #C1F7D5 0% 0% no-repeat padding-box;
    height:3rem;
    width:8rem;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    color: #354463;
    opacity: 1;
}


div.background-image-2 {
    background: url('./images/Did\ you\ know\ background.png') 0% 0% no-repeat padding-box;;
    background-size: cover;
    height: 100vh;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
}

h1 {
   font-size: 4rem;
    color: #fff;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-1 {
    width: 400px;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
}

.fa{
    background-color: #C1F7D5;
    color: #ffff;
    border-radius: 50%;
    padding: 6px;
    margin: 4px 0;
}

.card-1 h2 {
    text-align: center;
    font: normal normal bold 44px/56px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.card-1 p {
    text-align: center;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    }


.card-3_main{
    height: 100vh;
}

.card-3{
    background-color: #354463;
    padding: 3rem;
    line-height: 1;
    width: 300px;
    position: absolute;
    left: 10%;
}


article p {
    font: normal normal normal 1rem Helvetica;
    color: #FFFFFF;

}

.flex-2{
    display: flex;
    justify-content: center;
    align-items: center;

}


.main-bg{
    background-color: #354463;
    padding: 4rem;
}
.sub-bg{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;

}
.main-bg h1{
    text-align: center;
    font: normal normal normal 72px/76px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.img-2{
    width: 576px;
    height: 576px
}
h4{
    text-align: left;
    font: normal normal bold 44px/56px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

article p {
    width: 25rem;
    text-align: left;
    font: normal normal 300 20px/32px Helvetica;
    letter-spacing: -0.4px;
    color: #FFFFFF;
    opacity: 1;
    text-wrap: wrap;
}

.btn-2{
    background-color: #fff;
    border: none;
    padding: 0.5rem 2rem;
}

.main-bg-2{
    background-color: #C1F7D5;
    padding: 4rem;
}

.sub-heading{
    text-align: left;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;

}

input{
    width: 400px;
    padding: 1rem;
    border: none;
    border-radius: 3rem;
    margin: 1rem 0;
    background-color: #fff;
    font: normal normal 300 16px/24px Helvetica;

}
.btn-3{
    padding: 1rem 2rem;
    color: #fff;
    border-radius: 3rem;
    margin: 1rem 0;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
}
footer a{
    text-decoration: none;
    text-align: left;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    opacity: 1;
    }
footer li{
    text-decoration: none;
    list-style-type: none;  
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
    text-align: left;
}

footer span {
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

footer{
    padding: 4rem;
}


/* Media query for mobile */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 10px 15px;
    }

    .navbar-left,
    .navbar-right {
        text-align: center;
        width: 100%;
    }

    .navbar-left a {
        font-size: 18px;
        line-height: 24px;
    }

    .navbar-right {
        flex-direction: column;
        gap: 1rem;
    }

    .navbar-button {
        margin-top: 1rem;
        text-align: center;
    }

    .navbar-button button {
        margin: 0;
    }

    .text-box {
        width: 90%;
        max-width: 300px;
        padding: 10px;
    }

    .bg-box {
        width: auto;
        padding: 1rem;
        font-size: 1rem;
        line-height: 1;
        order: 2;
    }

    .bg-text {
        order: 1;
        font-size: 2rem;
        /* Adjust font size for mobile */
    }
    
        .background-image {
           height: 100%;
           width: 100%;
           background-size: cover;
        }

    .w-50 {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .flex{
       display: flex;
       flex-direction: column;
    }

        div.background-image-2 {
            height: auto;
            padding: 2rem;
        }
    
        h1 {
            font-size: 3rem;
        }
    
        .card-1 {
            width: 90%;
            margin: 1rem auto;
        }
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
    }

    .card-1 {
        width: 100%;
        /* Adjust the width as needed for smaller screens */
        margin: 1rem;
        padding: 1.5rem;
        /* Adjust the padding as needed for smaller screens */
    }

    .card-3_main {
        height: auto;
        /* Adjust as needed for smaller screens */
    }

    .card-3 {
        position: static;
        /* Remove absolute positioning for smaller screens */
        width: 100%;
        /* Adjust width as needed for smaller screens */
        margin: 1rem 0;
        /* Adjust margins as needed for smaller screens */
    }

    .img-2 {
        width: 100%;
        /* Adjust image width as needed for smaller screens */
        height: auto;
        /* Adjust image height as needed for smaller screens */
    }

    .btn-2,
    .btn-3 {
        width: 100%;
        /* Make buttons full width for smaller screens */
    }
}

@media (max-width: 1024px) {

    /* Add styles specific to tablet view here */
    .navbar-left a {
        font-size: 20px;
        line-height: 26px;
    }

    .navbar-right {
        gap: 2rem;
    }

    .navbar-button {
        margin-top: 1rem;
    }

    .text-box {
        max-width: 400px;
        padding: 15px;
    }

    .bg-box {
        font-size: 20px;
    }

    .bg-text {
        font-size: 3rem;
    }
}

/* Media query for tablets */
@media (max-width: 768px) {
    .bg-clr {
        padding: 3rem;
    }

    .card-container {
        flex-direction: column;
        gap: 1rem;
    }

    .cards_main {
        padding: 3rem;
        height: auto;
    }

    .card {
        padding: 2rem;
        font-size: 1.5rem;
    }
}

/* Media query for mobile */
@media (max-width: 576px) {
    .bg-clr {
        padding: 2rem;
    }

    .card {
        padding: 1.5rem;
        font-size: 1.2rem;
    }
}